.beer_app{
  padding-bottom: 0;
}
.custom-btn-group {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.custom-btn-group .btn {
  background: var(--primary-color);
  border: 1px solid var(--primary-font);
}
.custom-btn-group .btn:active {
  border: 1px solid var(--primary-font);
  background: var(--primary-color);
  font-weight: bold;
}
.brew_filter{
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  gap: 10px;
  align-items: center;
}
.brew_filter .form-select{
  width: auto;
}
.no-result-image{
  height: 100px;
}
.beer_image_container{
  border-radius: 5px;
}
.beer_image{
  max-height: 60vh;
  padding: 1rem;
  max-width: 100%;
}
.back_btn{
  padding: 5px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease-in-out;
}

.back_btn_dark{
  margin-top: 5px;
  border: 1px solid black;
  font-weight: 500;
  padding: 2px 5px 2px 0;
  background: none;
  transition: background 300ms ease-in-out;
}
.back_btn_dark:hover{
  background: rgba(0, 0, 0, 0.157);
}
.back_btn img, .back_btn_dark img{
  height: 30px;
}
.back_btn:active{
  background: radial-gradient(#cbcbcbbf, transparent);
}
.beer_table_wrapper{
  padding: 10px;
}
.margin_row{
  margin: 0 10px;
}
.preview_icon{
  height: 30px;
}

@media only screen and (max-width:790px){
  .brew_filter{
    flex-direction: column;
    padding: 10px 0;
  }
}