:root {
  --body-font: "Roboto Condensed", sans-serif;
  --primary-color: #4632a8;
  --primary-font: #ffffff;
  --light-bg: #cdc4f2;
}
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: var(--primary-color);
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}

body {
  background: var(--light-bg);
}
.bg_dark {
  background: var(--primary-color);
}
.section_padding {
  padding: 2rem;
}
